# Core ML
scikit-learn==1.6.1
catboost==1.2.7
imbalanced-learn==0.13.0
sklearn-compat==0.1.3

# Numerical stack
numpy==1.26.4
scipy==1.15.2
joblib==1.4.2
threadpoolctl==3.6.0

# Data and Viz
pandas>=1.5
matplotlib>=3.7
seaborn>=0.12

# Jupyter Support (for VS Code)
ipykernel>=6.29
jupyterlab>=4.0
